{% extends 'base.html' %}

{% block title %}
Add {{ object_singular_spaces | title }}
{% endblock %}

{% block leftcontent %}
<form action="{% url 'add_'|add:object_singular_underscores %}" method="POST">
    {% csrf_token %}

    {% for field in income_customization_form %}
        <div class="row mt-2">
            <label for="{{ field.label }}" class="form-label">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}

    {% for category in categories %}
        <div class="row mt-2">
            <div class="col">
                {{ category }}:
            </div>
            <div class="col">
                <input type="hidden" name="category_pk" value="{{ category.pk }}">
                <input type="number" name="percentage">%
            </div>
        </div>
    {% endfor %}
    
    <div class="row mt-2">
        <div class="col">
            <input type="submit" value="Add {{ object_singular_spaces }}">
        </div>
        <div class="col">
            <a href="{% url object_plural_underscores %}">Back</a>
        </div>
    </div>

</form>
{% endblock %}

{% block rightcontent %}
{% endblock %}