{% extends 'base_double_col.html' %}

{% block leftcontent %}
    <div class="row">
        <a href="{% url 'categories' %}">Categories</a>
    </div>
    <div class="row">
        <a href="{% url 'accounts' %}">Accounts</a>
    </div>
    <div class="row">
        <a href="{% url 'income_customizations' %}">Income customizations</a>
    </div>
    <div class="row">
        <a href="{% url 'transactions' %}">Transactions</a>
    </div>
    <div class="row">
        <a href="{% url 'periodic_transactions' %}">Periodic Transactions</a>
    </div>
    <div class="row">
        <a href="{% url 'incomes' %}">Incomes</a>
    </div>
    <div class="row">
        <a href="{% url 'auto_add' %}">Auto Add</a>
    </div>
{% endblock %}

{% block rightcontent %}
    No content yet
{% endblock %}